{% extends 'medico/base.html' %}

{% block content %}
    <h2>Lista de Especialidades</h2>
    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="padding: 8px;">Nome</th>
                <th style="padding: 8px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 8px;">Cardiologia</td>
                <td style="padding: 8px;">
                    <a href="#">Editar</a>
                    <a href="#">Deletar</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 8px;">Dermatologia</td>
                <td style="padding: 8px;">
                    <a href="#">Editar</a>
                    <a href="#">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
