{% extends 'medico/base.html' %}
{% load static %}

{% block content %}
    <h2>Médicos Cadastrados</h2>
    <a href="{% url 'cadastro_medico' %}" class="btn">Adicionar Novo Médico</a>
      
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Email</th>
                    <th>Especialidades</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                <tr>
                    <td data-label="Nome Completo">{{ medico.nome }} {{ medico.sobrenome }}</td>
                    <td data-label="Email">{{ medico.email }}</td>
                    <td data-label="Especialidades">
                        {% for esp in medico.nome_especialidade.all %}
                            {{ esp.nome_especialidade|capfirst }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td data-label="Ações" class="table-actions">
                        <a href="{% url 'editar_medico' medico.id %}" class="action-edit">Editar</a>
                        <a href="{% url 'deletar_medico' medico.id %}" class="action-delete">Deletar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="no-data-row">Nenhum médico cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
